:root {
    --text: #0a1919;
    --background: #fbfdfe;
    --bubble-box-background: #edf0f1;
    --secondary-bubble-box-background: #c0c5c6;
    --red: #b04040;
    --accent: #40999c;
}

.popup-box {
    padding: 15px;

    border-radius: 15px;
    background-color: var(--bubble-box-background);
}