.icon-box {
    border-radius: 15px;
    
    text-align: center;
    vertical-align: middle;

    background-color: #edf0f1;
    color: #0a1919;
}

.small {
    width: 100px;
    height: 100px;
}

.large {
    width: 200px;
    height: 200px;
}

.in-row-icon {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
}