@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Hedvig+Letters+Sans&family=Hedvig+Letters+Serif:opsz@12..24&family=Josefin+Sans&family=Roboto+Slab:wght@600&display=swap');

:root {
    background-color: peachpuff;
    background-image: url("../Images/BackgroundImage.jpg");
    background-position: center;
    background-size: auto 140vh;
    font-family: 'Carrois Gothic', sans-serif;
    color: white;
}

body {
    display: flex;
    justify-content: center;
    padding: 50px;
}

h1 {
    font-size: 48px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h3 {
    padding-top: 0px;
    margin-top: 0px;
    font-size: 21px;
}

p {
    font-size: 18px;
    width: 85%;
}

.content-container {
    background-color: rgba(0, 0, 0, 0.6);
    width: clamp(460px, 50vw, 560px);
    min-height: 630px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-container {
    width: 83%;
    
    display: flex;
    flex-direction: column;
    align-items: center;

    /* border: red 5px solid; */
}

img {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    object-fit: cover;
}